<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/UserUpdate.css">
</head>
<body>

    <form method="POST" action="/adminProductManagement/add">
        <label for="">Nama_Produk</label>
        <input type="text" name="Nama_Produk" placeholder="Nama_Produk">
        <br>
        <label for="">Masa_Berlaku</label>
        <input type="text" name="Masa_Berlaku" placeholder="Masa_Berlaku">
        <br>
        <label for="">Nama_Jenis_Asuransi</label>
        <input type="text" name="Nama_Jenis_Asuransi" placeholder="Nama_Jenis_Asuransi">
        <br>
        <label for="">Premi_Bulanan</label>
        <input type="text" name="Premi_Bulanan" placeholder="Premi_Bulanan">
        <br>
        <input type="submit" value="Tambah">
</form>
</body>
</html>